html {
  min-height: 1000px;
  background-color: #468189;
}
body {
  background-color: #468189;
}
header, footer {
  background-color: #468189;
}
.container-fluid {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    position: relative;
    width: 500px;
    margin-left: 0%;
    margin-right: 0%;
    display: inline-block;
  }
  
  .image {
    opacity: 1;
    display: block;
    height: auto; 
    width: auto; 
    max-width: 392px; 
    max-height: 392px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 5%;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .col-md-10 {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    position: relative;
    padding: 16px 32px;
  }

  .jumboDiv {
    display: inline-block;
    margin-left: 0px;
    padding-bottom: 30px;
    margin-top: 0%;
  }

  .header {
    background-color: #77ACA2;
  }

  .lead {
    margin-bottom: 60px;
    position: absolute; top: 300px;
    overflow: hidden;
  }

  .display-4 {
    position: absolute; top: 220px;
    overflow: hidden;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  #cheading {
    display: inline-block;
    position: relative; left: 400px; bottom: 245px;
    margin-top: 0%;
    border-bottom: #12232e;
  }

  #qheading {
    display: inline-block;
    position: relative; left: 400px; bottom: 195px;
    margin-top: 0%;
    border-bottom: #12232e;
  }

  #dheading {
    display: inline-block;
    position: relative; left: 400px; bottom: 190px;
    margin-top: 0%;
    border-bottom: #12232e;
  }

  #Code {
    max-width: 392px; 
    max-height: 292px;
    display: inline-block;
    border-radius: 5%;
  }

  #Quiz {
    max-width: 392px; 
    max-height: 392px;
    display: inline-block;
    border-radius: 5%;
  }

  #Day{
    max-width: 392px; 
    max-height: 392px;
    display: inline-block;
    border-radius: 5%;
  }
